.papel__sadt {
    position: absolute;
    top: 0;
    width: calc(100vw - 90px);
    height: 100%;
    background: #0009;
}

.papel__sadt .guiasadt {
    width: 1360px;
    display: block;
    margin: 0 auto;
    z-index: 1;
}

.sadt__content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    width: 1360px;
    padding: 18px 39px;
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 1450px) {
    .sadt__content {
        left: 0px;
        transform: none;
    }
}

.logo__imageSadt {
    width: 150px;
    height: 60px;
    background: #fff;
    margin: 0 0 101px;

    & img {
        width: 100%;
        height: 100%;
    }
}

.sadt__content p {
    background: #fff;
    margin: 0 0 0 2px;
    font-size: 15px;
    height: 16px;
    text-transform: capitalize;
    /* background: rgba(255, 0, 0, 0.671); */
}

.contant__patient {
    display: grid;
    grid-template-columns: 330px 395px;
    gap: 173px;
    /* margin: 0 0 77px; */
}

.content__doctor {
    display: grid;
    grid-template-columns: 385px 37px 245px 30px 85px;
    gap: 28px;
    margin: 0 0 43px;

    & p:nth-child(3) {
        margin: 0 0 0 -2px;
    }

    & p:nth-child(4) {
        text-align: center;
        margin: 0 0 0 -12px;
    }

    & p:nth-child(5) {
        margin: 0 0 0 -18px;
    }
}

.content__data {
    display: grid;
    grid-template-columns: 71px 148px 1036px;
    gap: 10px;
    margin: 0px 0 20px 3px;

    & p:nth-child(1) {
        text-align: center;
    }

    & p:nth-child(2) {
        text-align: center;
    }
}


.content__proced {
    width: 1180px;
    margin: 0 0 0 15px;
    display: grid;
    grid-template-columns: 37px 166px 894px 56px 55px;
    gap: 3px;

    & p {
        font-size: 13px;

    }

    & p:nth-last-child(1) {
        text-align: center;
    }

    &:nth-last-child(1) {
        background: #fff;
        padding: 0 0 1px;
    }
}

.content__contrat {
    margin: 35px 0 27px 0;
    display: grid;
    gap: 10px;
    grid-template-columns: 235px 905px 120px;

    &:nth-child(3) {
        grid-template-columns: 235px 1035px;
    }
}


/* @page {
    size: landscape;
} */

@media print {

    .content {}

    .papel__sadt {
        width: 100vw;
        max-height: 100vh;
    }

    .sadt__content {
        width: 100%;
    }

    .papel__sadt .guiasadt {
        object-fit: contain;
    }

}