header {
    width: 70px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

header ul {
    list-style: none;
}

header .list__icon {
    height: 100%;
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    background: var(--color-primary);
    

}

header .list__icon span {
    width: 40px;
    height: 70px;
    border-radius: 10px;
    color: #fdfdfd;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .list__icon i {
    width: 40px;
    height: 37px;
    padding: 8px 0;
    display: grid;
    place-items: center;
    color: #eee;
    transition: 400ms;

    &:nth-last-child(1) {
        margin: auto 0 0 0;
    }
}

header .list__icon #active {
    background: #fff3;
    border-radius: 10px;
}

header:hover  .menu {
    left: 70px;
}
header:hover  .list__icon i  {
    opacity: 0.5;
}

header .menu {
    width: 300px;
    height: 100%;
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: -300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: -1;
    box-shadow: 0 0 5px #0001;
    background: #fdfdfd;
    animation: show 500ms ease both;
    transition: 500ms;
}

header .menu__logo {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    color: #7a8ea7;
}

header .menu__logo-legend {
    color: #555;
    font-size: 12px;
    font-weight: 300;
}

header .menu__iten {
    padding: 8px 20px;
    font-size: 16px;
    color: #555;
    text-align: center;
    font-weight: 500;
    border-left: 4px solid transparent;
    cursor: pointer;
    transition: 250ms;
    display: flex;
    gap: 20px;

    &:hover {
        border-color: var(--color-tertiary);
        background: linear-gradient(to right, transparent, #19abff16, transparent);
    }

    &:nth-last-child(1) {
        /* color: red; */
        margin: auto 0 0;
    }
}

header .menu__iten i {
    color: #688eb9;
}

header .btnMenu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: var(--color-tertiary);
    border: none;
    font-size: 24px;
    color: #fdfdfd;
    box-shadow: 2px 2px 5px #0003;
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    header {
        width: 0;
    }

    header .list__icon {
        display: none;
    }

    header:hover .menu {
        left: 0px;
    }

    header .menu {
        /* width: 100%; */
        /* left: 0; */
        /* transform: translateX(-100%); */


    }
}