header {
    width: 70px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

header ul {
    list-style: none;
}

.header-listIcon {
    height: 100%;
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background: var(--color-primary);

}

.header-listIcon span {
    width: 40px;
    height: 40px;
    margin: 0 0 10px;
    /* background: #fffd; */
    border-radius: 10px;
    color: #7a8ea7;
    font-weight: 600;
    /* border: 2px solid var(--color-tertiary); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-listIcon i {
    width: 40px;
    padding: 8px 0;
    text-align: center;
    color: #eee;
}

.header-listIcon #active {
    background: #fff3;
    border-radius: 10px;
}

header:hover .header-listIcon i {
    opacity: 0.3;
}

header:hover .header-menu {
    left: 70px;
}

.header-menu {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: -1;
    box-shadow: 0 0 5px #0001;
    background: #fdfdfd;
    animation: show 500ms ease both;
    transition: 500ms;
}

.header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    color: #7a8ea7;
    height: 100px;

}

.header-logoDetails {
    color: #555;
    font-size: 12px;
    font-weight: 300;
}

.header-menuList {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.header-menuListIten {
    padding: 8px 20px;
    font-size: 16px;
    color: #555;
    text-align: center;
    font-weight: 500;
    border-left: 4px solid transparent;
    cursor: pointer;
    transition: 250ms;
    display: flex;
    gap: 20px;
}

.header-menuListIten:hover {
    border-color: var(--color-tertiary);
    background: linear-gradient(to right, transparent, #19abff16, transparent);
}

.header-menuListIten i {
    color: #688eb9;
}

.btnMenu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: var(--color-tertiary);
    border: none;
    font-size: 24px;
    color: #fdfdfd;
    box-shadow: 2px 2px 5px #0003;


    &: i {

    }
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    header {
        width: 0;
    }

    .header-listIcon {
        display: none;
    }

    header:hover .header-menu {
        left: 0px;
    }
    
    .header-menu {
        /* width: 100%; */
        /* left: 0; */
        /* transform: translateX(-100%); */


    }
}