.cardPlan {
    width: 260px;
    height: 95px;
    padding: 5px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fdfdfd;
    border-radius: 5px;
    /* border: 1px solid #eee; */
    box-shadow: 1px 1px 5px #0001;
}

.cardPlan .cardPlan__title {
    width: 75%;
    color: var(--color-secundary);
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cardPlan .data {
    margin: auto 0 0;
    display: flex;
    gap: 5px;
    font-size: 12px;
}

.cardPlan .data__label {
    color: #5ab613;
}

.cardPlan .data__content {
    color: #888;
    transition: 250ms;
    cursor: pointer;
}

.cardPlan .data__content:hover {
    opacity: 0.6;
    text-decoration: underline;
}

.cardPlan .group__btn {
    position: absolute;
    top: 5px;
    right: 0;
    gap: 10px;
    display: flex;
    align-items: center;
    color: var(--color-secundary);
    opacity: 0.8;
    font-size: 18px;
    padding: 3px 10px;
    cursor: pointer;
    
}

.cardPlan .group__btn i:hover {
    transition: 300ms;
    opacity: 0.7;
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .cardPlan {
        width: 100%;
    }
}