.listPlans {
    padding: 0 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px 20px;
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .listPlans {
        padding: 0;
        gap: 10px;
    }
}