.modalEdit {
    width: 100vw;
    height: 100vh;
    background: #0009;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modalEdit__content {
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    background: #fff;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 10px 0;
    opacity: 0.5;
    transform: scale(0.9);
    box-shadow: 3px 3px 10px #0003;
    animation: showModal 400ms ease both;
}

.modalEdit__content-title {
    font-size: 24px;
    grid-column: span 2;
    margin: 0 0 20px;
    text-align: center;
    color: var(--color-tertiary);
    font-weight: 500;
}

.modalEdit__content label {
    font-weight: 500;
    color: var(--color-primary);
}

.modalEdit__content input {
    padding: 3px 5px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #444;
    font-size: 14px;

    &:focus {
        border-color: var(--color-tertiary);
    }
}

.modalEdit__content select {
    padding: 3px 5px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #444;
    font-size: 14px;

    &:focus {
        border-color: var(--color-tertiary);
    }
}

.modalEdit__content textarea {
    width: 100% !important;
    height: 100px !important;
    padding: 3px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    color: #444;
    font-size: 14px;

    &:focus {
        border-color: var(--color-tertiary);
    }
}

.modelEdit__content-groupBtn {
    grid-column: span 2;
    margin: 10px 0 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.modelEdit__content-groupBtn button {
    background: var(--color-tertiary);
    color: #fdfdfd;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px #0003;
    font-weight: 500;
    cursor: pointer;
    transition: 300ms;

    &:hover {
        background: #fdfdfd;
        color: var(--color-tertiary);
    }

    &:nth-child(1) {
        /* margin: 0 auto 0 0; */
        background: #e66262;

        &:hover {
            color: #e66262;
            background: #fdfdfd;
        }
    }

    &:nth-child(2) {
        background: #a4a4a4;

        &:hover {
            color: #444;
            background: #fdfdfd;
        }
    }
}

.bar__progress {
    width: 70%;
    height: 9px;
    background: #ccc;
    box-shadow: 2px 2px 3px #0003;
    overflow: hidden;
    border-radius: 5px;
}

.intern__progress {
    width: 30%;
    height: 100%;
    transform: translateX(-100%);
    background: var(--color-tertiary);
    animation: progress 2s infinite linear;
    border-radius: inherit;
}

@keyframes progress {
    0% {
        transform: translateX(-100%);
    }

    50% {
        width: 20%;
    }

    100% {
        transform: translateX(333%);
        /* width: 10%; */
    }
}


/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .modalEdit {

        align-items: flex-start;
    }
}