.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background: #0009;
}

.modal__content {
    width: 650px;
    height: auto;
    max-height: 800px;
    border-radius: 7px;
    box-shadow: 3px 3px 50px #0003;
    background: #fdfdfd;
    position: relative;
    transform: scale(0.9);
    opacity: 0;
    animation: showModal 400ms ease both;
}

@keyframes showModal {
    0% {}

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.modal .content__row {
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 30% 1fr;
    border-bottom: 1px solid #eee;


    &:nth-last-child(2) {
        /* border: none; */
    }
}

.modal .content__row.head {
    display: grid;
    grid-template-columns: 1fr;
}

.modal .content__row.head p {
    color: #777;
    max-height: 150px;
    overflow: auto;
    font-weight: 500;
}

.modal .content__row-title {
    font-size: 32px;
    color: var(--color-secundary);
    text-transform: capitalize;
}

.modal .content__row-subtitle {
    font-size: 16px;
    color: var(--color-primary);
    font-weight: 500;
}

.modal .content__row-text {
    color: #555;

    max-height: 150px;
    overflow: auto;
}

.modal .content__row textarea {
    width: 100%;
    resize: none;
    font-size: 16px;
    color: #555;
    border: none;
    height: 120px;
    padding: 0 5px;

    &:disabled {
        background: none;
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: #eee;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-tertiary);
        border-radius: 10px;
    }
}

.content__row-btn {
    display: block;
    margin: 20px 30px 20px auto;
    padding: 10px 40px;
    font-size: 18px;
    color: #fdfdfd;
    font-weight: 500;
    background: #4b72aa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 5px #0003;
    transition: 300ms;

    &:hover {
        filter: brightness(1.2);
        -webkit-filter: brightness(1.2);
    }
}