.content {
  height: 100%;
  overflow: auto;
  padding: 20px 0 20px 70px;
  display: flex;
  flex-direction: column;
}

.title {
  width: max-content;
  margin: 0 auto;
  color: var(--color-secundary);
  font-size: 32px;
  font-weight: 500;
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {

  .content {
    padding: 20px 5%;
    width: 100%;
    overflow: hidden;
  }
}